.ant-carousel {
    //margin-bottom: 250px !important;
    .slick-slider {
        .slick-dots{
            bottom: 150px;
            li {
                padding-left: 10px;
                button {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: white;

                    &:hover{
                        background-color: black;
                        transition: all .5s linear ;
                    }
                }
                button:before{
                    width: 0 ;
                    height: 0 ;
                }
            }
        } 
    } 
}

.slick-dots-bottom {
    margin: 0 !important;
    padding: 0 !important;
}