@import "../../utils/main";

header{
    position: fixed;
    background-color: #0a1e5e;
    z-index: 98;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 12px 13px 11px rgba(0,0,0,0.24); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 12px 13px 11px rgba(0,0,0,0.24);
    width: 100%;
    font-size: 1rem;
    .navbar{
        .navbar-toggler{
            background-color: white;
            .navbar-toggler-icon{
                background-color: white;
                color: black !important;
            }
        }
        .navbar-collapse{
            padding: 1rem 0;
            .navbar-nav{
                .nav-item{
                    i{
                        color: hsla(0,0%,100%,.5) ;
                    }
                    .header-link{
                        color: hsla(0,0%,100%,.5) !important;
                    }
                    .dropdown-menu{
                        background-color: white ;
                        .dropdown-item{                           
                            color: black;
                            &:hover {
                                color: #0a1e5e;
                                transition: all .5s linear;
                            }
                        }
                        .active{
                            background-color: transparent;
                        }
                    }
                    
                    &:hover{
                        i{
                            color: white ;
                            transition: all .5s linear;
                        }
                        .header-link{
                            color: white !important;
                            transition: all .5s linear;
                        }
                    }
                }
                .active{                   
                    i{
                        color: white !important;
                    }
                    .header-link{
                        color: white !important;
                    }   
                }
            }
        }
    }
}

@include responsive('large') {
    header{
        .navbar{
            .navbar-toggler{

            }
        }
        .navbar-collapse{
            padding: 0 !important;
            .navbar-nav{
                .nav-item{
                    padding: 0.5rem 0;
                    i{

                    }
                    .header-link{
                        
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: $color-blue-1;
                        transition: all 1s linear;
                    }
                }
            }
        }
    }
}

// @media screen and (max-width: 1200px) {
//     header{
//         display: none;
//     }
// }

