@import '../../utils/main';

footer {
    background-image: url('../../assets/imgs/footer.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 4rem;
}

@include responsive('medium'){
    footer{
        background-color: #0a1e5e;
    }
}

@media (max-width: 414px) {
    
}