$font-primary: 'Poppins',Arial, sans-serif;
$primary: #3445b4;
$secondary: #44bef1;

.wrapper {
  width: 100%;
  padding-top: 100px;
  // background-color: rgb(29, 29, 43);
}

// a[data-toggle="collapse"] {
//     position: relative;
// }

// .dropdown-toggle::after {
//   display: block;
//   position: absolute;
//   top: 50%;
//   right: 0;
//   transform: translateY(-50%);
// }

.table{
	margin: 0 50px;
}